@import '../../src/css/variables.css';

.wp-block-ws-person {
  display: flex;
  align-items: center;
  img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
  }
  .person-info {
    > * {
      margin: 5px 0;
    }
  }
}
